[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=fastapi
Group=fastapi
WorkingDirectory=/home/fastapi/app/src/
Environment="path=/home/fastapi/app/venv/bin"
EnvironmentFile=/home/fastapi/.env
ExecStart=/home/fastapi/app/venv/bin/gunicorn -w 5 -k uvicorn.workers.UvicornWorker app.main2:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target