# Compatible with Python 3.9
# Manually adjusted from pip-compile (Python 3.12) output

annotated-types==0.7.0
    # via pydantic

anyio==3.7.1
    # via starlette

click==8.1.7
    # via uvicorn

colorama==0.4.6
    # via click, pytest

fastapi==0.109.2
    # via -r requirements.in

greenlet==3.0.3
    # via sqlalchemy

h11==0.14.0
    # via uvicorn

idna==3.6
    # via anyio

iniconfig==2.0.0
    # via pytest

packaging==24.0
    # via pytest

pluggy==1.3.0
    # via pytest

pydantic==2.5.3
    # via fastapi

pydantic-core==2.14.6
    # via pydantic

pygments==2.17.2
    # via pytest

pytest==7.4.4
    # via -r requirements.in

sniffio==1.3.0
    # via anyio

sqlalchemy==2.0.27
    # via -r requirements.in

starlette==0.36.3
    # via fastapi

typing-extensions==4.12.2
    # via anyio, fastapi, pydantic, sqlalchemy, starlette, typing-inspection

typing-inspection==0.4.0
    # via pydantic


uvicorn==0.27.1
    # via -r requirements.in